/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    .cs-form {
        width: 100%;
        max-width: 39.375rem;
        /* 24px - 48px top and bottom */
        /* 16px - 48px left and right */
        padding: clamp(1.5rem, 5.18vw, 3rem) clamp(1rem, 4vw, 3rem);
        /* prevents flexbox from affecting height and width */
        box-sizing: border-box;
        background-color: #fff;
        border-radius: 1rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.75rem;
    }

    .cs-h3 {
        /* 20px - 39px */
        font-size: clamp(1.25rem, 3vw, 2.4375rem);
        line-height: 1.2em;
        font-weight: 700;
        margin: 0 0 0.25rem 0;
        color: var(--headerColor);
    }

    .cs-label {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        width: 100%;
        color: var(--headerColor);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.25rem;
    }

    .cs-input {
        font-size: 1rem;
        width: 100%;
        height: 3.5rem;
        padding: 0;
        padding-left: 1.5rem;
        color: var(--headerColor);
        background-color: #f7f7f7;
        border-radius: 0.5rem;
        border: none;
        /* prevents padding from adding to height and width */
        box-sizing: border-box;
    }

    .cs-input::placeholder {
        color: #7d799c;
        opacity: 0.6;
    }

    .cs-textarea {
        min-height: 7.5rem;
        padding-top: 1.5rem;
        margin-bottom: 0.75rem;
        font-family: inherit;
    }

    .cs-button-solid {
        font-size: 1rem;
        line-height: 3.5rem;
        text-decoration: none;
        font-weight: 700;
        overflow: hidden;
        margin: 0;
        color: #fff;
        padding: 0 3rem;
        border-radius: 1.875rem;
        background-color: var(--primary);
        display: inline-block;
        position: relative;
        z-index: 1;
        transition: color 0.3s;
    }

    .cs-button-solid:before {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 0%;
        background: var(--primaryDarkTwo);
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }

    .cs-button-solid:hover {
        color: var(--primary);
    }

    .cs-button-solid:hover:before {
        width: 100%;
    }

    .cs-submit {
        width: 100%;
        min-width: 12.5rem;
        border: none;
    }

    .cs-submit:hover {
        color: #fff;
        cursor: pointer;
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {

    .cs-submit {
        width: auto;
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    .cs-form {
        width: 46%;
        max-width: 36.125rem;
    }

    #contact-modal .cs-form {
        width: 100%;
        max-width: 100%;
    }

    .cs-submit {
        width: auto;
    }
}